.annotation-details {
  background-color: var(--background-color);
  color: var(--text-color);
}

.annotation-details__header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: var(--space-two-thirds) var(--space-one-and-a-half);

  position: sticky;
  top: 0;
  background-color: var(--background-color);
  color: var(--text-color);

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--color-ultramarine-blue);
}

.annotation-details__header-title {
  /* Middle column */
  grid-column: 2 / -2;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.annotation-details__header-title :first-child {
  margin-top: 0;
}
.annotation-details__header-title :last-child {
  margin-bottom: 0;
}
.annotation-details__header-title > * {
  margin-bottom: 0;
}
.annotation-details__header-title > * + * {
  margin-top: calc(12 * var(--font-size-basis));
}

.annotation-details__header-action {
  /* Last column */
  grid-column: -2 / -1;
  justify-self: end;
  align-self: center;
}

.annotation-details__figure {
  margin: 0;
  position: relative;
}
.annotation-details__figure img {
  display: block;
  width: 100%;
  height: auto;
}
.annotation-details__figure-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.annotation-details__figure-svg path {
  stroke: var(--color-ultramarine-blue);
}

.annotation-details__figure--active::before {
  content: "";
  background-color: hsla(360, 0%, 0%, 0.8);
  position: absolute;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.annotation-details__figure:not(.annotation-details__figure--active) svg,
.annotation-details__figure:not(.annotation-details__figure--active) .annotation-field {
  display: none;
}

.annotation {
  font-style: italic;
  font-size: 0.675em;
  transform: translate(0, 1.25em);
  fill: var(--color-ultramarine-blue);
}

.annotation-field {
  position: absolute;
  top: 25%;
  left: 25%;
}

.annotation-details__footer {
  border-top-width: 1px;
  border-top-style: solid;
  border-color: var(--color-ultramarine-blue);
}

.details-footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: var(--space-two-thirds) var(--space-one-and-a-half);

  position: sticky;
  bottom: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.details-footer > * {
  grid-row: 1 / 2;
}
.details-footer * {
  margin: 0;
}

.details-footer__action-primary {
  /* Last column */
  grid-column: -2 / -1;
  justify-self: end;
  align-self: center;

  display: flex;
  flex-direction: row-reverse;
}

.details-footer__action-primary > * + * {
  margin-right: var(--space-one-half);
}

.details-footer__action-secondary {
  /* First column */
  grid-column: 1 / 2;
  justify-self: start;
  align-self: center;
}

.details-footer__nav {
  /* Middle column */
  grid-column: 2 / -2;
  justify-self: center;
  align-self: center;
  text-align: center;

  display: grid;
  grid-template-columns: 9fr 12fr 6fr;
  grid-column-gap: 3em;
}

.details-footer__nav-list,
.details-footer__nav-item {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.details-footer__nav-list {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 9fr 12fr 6fr;
  grid-column-gap: 3em;
}

.details-footer__nav-item:first-child {
  grid-row: 1 / 2;
  grid-column: -2 / -1;
  justify-self: end;
}

.details-footer__nav-item:last-child {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  justify-self: start;
}

.details-footer__nav-link {
  white-space: nowrap;
}

.details-footer__nav-meta {
  grid-row: 1 / 2;
  grid-column: 2 / -2;
  justify-self: center;
  text-align: center;
}

.annotation-details__header-meta {
  color: var(--color-pelagic-gray);
}

.details-footer__nav-meta {
  color: var(--color-pelagic-gray);
}
