
@import url("/css/fonts.css");
@import url("/css/type.css");
@import url("/css/color.css");

@import url("/css/link.css");

@import url("/components/button.css");
@import url("/components/logotype.css");
@import url("/components/nav.css");
@import url("/components/header.css");

@import url("/components/scratch-pad.css");

@import url("/css/hero.css");

body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

body > .header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}


.icon {
  width: 0.75em;
  height: 0.75em;
}
.icon * {
  fill: currentColor;
  stroke: currentColor
}
