.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto 1fr;
}
.hero > img {
  display: block;
  grid-column: 1/-1;
  grid-row: 1/-1;
  width: 100%;
  height: 50vw;
  object-fit: cover;
  opacity: 0.2;
  filter: grayscale(1);
}
.hero > h1 {
  grid-column: 1/-1;
  grid-row: 2/3;
  font-size: 60px;
  line-height: 63px;
  text-align: center;
  margin: 0;
}
.hero > h1 + p {
  grid-column: 1/-1;
  grid-row: 3/4;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  max-width: 28em;
  margin: 0.75em auto 0;
}
