
:root {
  --text-color-subtle: var(--salt-marsh-gray);
  --border-color: var(--salt-marsh-gray);
  --background-color: white;
  --text-color: var(--benthos-blue);
  --color-brightness: 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text-color-color: var(--temporary-name--dark-blue);
    --border-color: var(--temporary-name--dark-blue);
    --background-color: var(--abyss-gray);
    --text-color: white;
    --color-brightness: 1;
  }
} */

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.components-body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 3em auto 1fr 3em;
  grid-template-rows: auto;
  grid-gap: 0;
  min-height: 100%;
}
/* .components-body
  background-color: hsla(0, calc(var(--color-brightness) * 100%), calc(var(--color-brightness) * 100%), 0.15);
}
.components-preview {
  background-color: white;
} */

.components-body > main {
  grid-row: 1/2;
  grid-column: 3/4;
}
.components-body > main > h1 {
  padding: 1.5rem;
  margin: 0;
  font-size: inherit;
  padding: 1.5em;
}
.components-body > footer {
  grid-column: -3/-2;
  grid-row: 1/2;
  justify-self: end;
  padding: 1.5em 0;
  margin: 0;
}
.components-body > footer > p {
  margin: 0;
}
.components-body > footer a {
  /* color: inherit; */
  /* background-color: hsla(0, calc(var(--color-brightness) * 100%), calc(var(--color-brightness) * 100%), 0.15); */
  
}

.components-preview {
  border-width: 1px 0 1px 0;
  border-style: solid;
  /* border-color: hsla(0, calc(var(--color-brightness) * 100%), calc(var(--color-brightness) * 100%), 0.15); */
  border-color: var(--border-color);
  /* margin-left: -3em; */
  /* margin-right: -6em; */
  /* padding-right: 3em;
  padding-left: 3em; */
  /* padding-bottom: 4.5em; */
  display: grid;
  grid-gap: 3em;
  padding: 1.5em 1.5em 6em;
  background: white;
  color: var(--benthos-blue);
}
.components-preview > * {
  align-self: center;
  justify-self: center;
}
.components-preview::before {
  content: "preview";
  /* background-color: hsla(0, calc(var(--color-brightness) * 100%), calc(var(--color-brightness) * 100%), 0.15)); */
  /* background-color: var(--salt-marsh-gray); */
  padding: 0;
  line-height: 1;
  align-self: start;
  color: var(--text-color-subtle);
}

.components-code {
  padding: 1.5em;
}
.components-code::before {
  content: "code";
  /* background-color: hsla(0, calc(var(--color-brightness) * 100%), calc(var(--color-brightness) * 100%), 0.15)); */
  /* background-color: var(--salt-marsh-gray); */
  padding: 0;
  line-height: 1;
  align-self: start;
  color: var(--text-color-subtle);
}

.components-nav {
  grid-row: 1/-1;
  grid-column: 2/3;
  border-width: 0 1px 0 0;
  border-style: solid;
  /* border-color: hsla(0, calc(var(--color-brightness) * 100%), calc(var(--color-brightness) * 100%), 0.1); */
  border-color: var(--border-color);
  padding: 1.5em 3em 1.5em 0;
}
.components-nav > h2 {
  font-size: inherit;
  margin: 0;
}
.components-nav > * + h2 {
  margin-top: 1.5em;
}

.components-nav > ol,
.components-nav > ol > li {
  margin: 0;
  padding: 0;
  /* list-style: none; */
}
.components-nav > ol > li > a {
  /* color: inherit; */
}

/* .components-nav > ol {
  counter-reset: nav;
}

.components-nav > ol > li::before {
  counter-increment: nav;
  content: "0" counter(nav) ". ";
  position: absolute;
  transform: translateX(-125%);
} */

code, pre {
  background-color: transparent !important;
}
/* code {
  font-size: 1.25em;
} */

/* code {
  background-color: hsla(0, calc(var(--color-brightness) * 100%), calc(var(--color-brightness) * 100%), 0.05);
  padding: 0.75em;
}

pre code {
  padding: 0.7em;
  margin: 2.8em 0;
  max-width: 100%;
  overflow: auto;
  display: block;
} */

.components-swatch {
  justify-self: start;
}
.components-swatch::before {
  content: "";
  display: block;
  width: 2em;
  height: 2em;
  background-color: var(--color);
}
