
:root {
  --background-color: white;
  --text-color: black;
  --color-brightness: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --text-color: white;
    --color-brightness: 1;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.components-body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto 1fr 3em;
  grid-template-rows: auto;
  grid-gap: 3em;
  min-height: 100%;
}

.components-body > main {
  grid-row: 1/2;
  grid-column: 2/3;
  padding-top: 0.5em;
}
.components-body > footer {
  grid-column: -3/-2;
  grid-row: 1/2;
  justify-self: end;
  padding: 1.5em 0;
}
.components-body > footer a {
  background-color: hsla(0, calc(var(--color-brightness) * 100%), calc(var(--color-brightness) * 100%), 0.15);
  padding: 0.375em 1.5em;
  display: inline-block;
  border-radius: 1.5em;
}

.components-preview {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: hsla(0, calc(var(--color-brightness) * 100%), calc(var(--color-brightness) * 100%), 0.15);
  margin-left: -3em;
  margin-right: -6em;
  padding-right: 3em;
  padding-left: 3em;
  margin-top: 6em;
}
.components-preview::before {
  content: "preview";
  background-color: hsla(0, calc(var(--color-brightness) * 100%), calc(var(--color-brightness) * 100%), 0.15));
  padding: 0.375em;
  line-height: 1;
  margin-bottom: 3em;
  display: inline-block;
  margin-left: -3em;
  opacity: 0.5;
}

.components-navigation {
  grid-row: 1/-1;
  background-color: hsla(0, calc(var(--color-brightness) * 100%), calc(var(--color-brightness) * 100%), 0.1);
  padding: 1.5em;
}
.components-navigation > h2 {
  font-size: inherit;
  margin-bottom: 0;
}

.components-navigation > ul,
.components-navigation > li {
  margin: 0;
  padding: 0;
}

code {
  background-color: hsla(0, calc(var(--color-brightness) * 100%), calc(var(--color-brightness) * 100%), 0.05);
  padding: 0.75em;
}

pre code {
  padding: 0.7em;
  margin: 2.8em 0;
  max-width: 100%;
  overflow: auto;
  display: block;
}
