
/* a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
} */


a {
  color: var(--color-ultramarine-blue);
}


body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

body > .header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}


.loading {
  border-width: 1px;
  border-style: solid;
  color: var(--color-benthos-blue);
  border-color: var(--color-ultramarine-blue);
  padding: 1em 2em;
  border-radius: 1.5em;
  display: inline-block;

  /* Rectangle 76 */

  /* White */
  background: #FFFFFF;

  /* Littoral Blue */
  border: 1px solid #F0F3FF;
  box-sizing: border-box;

  /* Soft Drop Shadow */
  box-shadow: 0px 4px 32px rgba(109, 108, 144, 0.12);
}

.loading__text {
  /* @hidden */
  opacity: 0;
  font-size: 0;
  position: absolute;
  width: 0;
  height: 0;
}

.loading__dots,
.loading__dots::before,
.loading__dots::after {
  content: "";
  display: block;
  width: 0.375em;
  height: 0.375em;
  border-radius: 100%;
  background-color: var(--color-pelagic-gray);
}
.loading__dots::before {
  position: absolute;
  transform: translateX(-200%);
  background-color: var(--color-salt-marsh-gray);
}
.loading__dots::after {
  position: absolute;
  transform: translateX(200%);
  background-color: var(--color-pelagic-gray);
}


:root {
  --card-image-width: calc(200 * var(--font-size-basis));
  --card-image-height: calc(208 * var(--font-size-basis));
}

.card-list {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(var(--card-image-width), 1fr) );
  grid-gap: calc(14 * var(--font-size-basis));
}

.card-list,
.card-list__item {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.card__image {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}
.card__image > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid rgba(109, 108, 144, 0.5);
  border-radius: calc(8 * var(--font-size-basis));
  box-sizing: border-box;
}

.card__text {
  margin-top: calc(8 * var(--font-size-basis));
  display: block;
  font-size: var(--font-size-12);
}

.card__name {
  display: flex;
}
.card__name + br {
  display: none;
}

.card__name > small {
  font-size: inherit;
  white-space: nowrap;
}

.text-single-line {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
