
:root {
  --link-color: var(--color-ultramarine-blue);
  --focus-outline-color: rgba(85, 122, 255, 0.5);

  --background-color: var(--color-white);
  --text-color: var(--color-abyss-gray);

  --field-border-color: var(--color-salt-marsh-gray);
}

a:focus,
button:focus,
input:focus,
summary:focus,
.tabs__item:focus-within :checked + .tabs__button {
  outline: 4px solid var(--focus-outline-color);
  outline-offset: 4px;
}
.data-list__button:focus {
  outline-offset: -4px;
}
.explore-tabs__button:focus {
  outline-offset: calc(-16 * var(--font-size-basis));
}
.button:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem var(--focus-outline-color);
}

.dark-mode {
  --background-color: var(--color-abyss-gray);
  --text-color: var(--color-white);
  
  --button-background-color: var(--color-abyss-gray);
  --button-text-color: var(--color-ultramarine-blue);

  --button-background-color--primary: var(--color-white);
  --button-text-color--primary: var(--color-benthos-blue);

  --link-color: var(--color-white);
  --focus-outline-color: var(--color-lagoon-blue);

  --field-border-color: var(--color-ultramarine-blue);
}

.dark-mode .button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
}

.dark-mode .button:hover,
.dark-mode .button:active,
.dark-mode .button:focus {
  /* background-color: var(--text-color);
  color: var(--background-color); */
  background-color: var(--color-ultramarine-blue);
  border-color: transparent;
  color: var(--color-white);
}

.dark-mode .button--primary {
  background-color: var(--button-background-color--primary);
  color: var(--button-text-color--primary);
}

.dark-mode .button--primary:hover,
.dark-mode .button--primary:active,
.dark-mode .button--primary:focus {
  background-color: var(--color-ultramarine-blue);
  border-color: transparent;
  color: var(--color-white);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

a, button {
  /* transition: background-color var(--transition-duration), border-color var(--transition-duration), color var(--transition-duration); */
}

/* @TODO Remove from HTML? */
.standard-layout {
}
.standard-layout__header {
}

.main {
  padding: calc(48 * var(--font-size-basis)) var(--space-3);
}

/* html {
  height: 100%;
}

body {
  min-height: 100%;
}
 */

.text-single-line {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* @TODO Combine .text-meta ? */
.text-meta {
  color: var(--color-demersal-gray);
}

.link-hit-area {
  /* Reset <a /> */
  text-decoration: none;

  /* Reset <button /> */
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
  border-width: 0;
  background-color: transparent;
  padding: 0;

  display: block;
}
.link-hit-area__active-indicator {
  padding-top: 1px;
  padding-bottom: 1px;
  border-bottom: 2px solid transparent;
  width: max-content;

  transition-property: color, background-color, border-color;
  transition-duration: var(--transition-duration), var(--transition-duration), var(--transition-duration);
}
.link-hit-area:hover .link-hit-area__active-indicator,
.link-hit-area:active .link-hit-area__active-indicator,
.link-hit-area:focus .link-hit-area__active-indicator,
.link-hit-area__active-indicator--active {
  border-color: initial;
}

/* @TODO Combine with .option-list ? */
.button-list,
.button-list__item {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.button-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: space-between;
  margin-bottom: calc(-8 * var(--font-size-basis));
}

.button-list__item {
  margin-right: calc(8 * var(--font-size-basis));
  margin-bottom: calc(8 * var(--font-size-basis));
}

.dropdown-button {
  display: flex;
}

.dropdown-button::-webkit-details-marker {
  display: none;
}

/* body::after {
  content: "";
  background-image: url("/figma.png");
  background-image: url("/figma-annotations.png");
  background-size: 100% auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 25%;
  pointer-events: none;
} */


.has-inactive-state {
  transition: opacity 0.4s;
}

.has-inactive-state--inactive {
  opacity: 0;
  pointer-events: none;
}



/* SHIM: Make space for the dropdown button */
.annotation-field {
  display: flex;
  align-items: center;
}
.annotation-field .field {
  grid-template-columns: 1fr max-content 1.5em !important;
}

.dark-mode .data-list__button:hover,
.dark-mode .data-list__button:active,
.dark-mode .data-list__button:focus {
  background-color: var(--color-hado-gray);
}

.annotation-field .dropdown-button {
  padding: 1em;
  transform: translate(-100%, 0);
}


.code {
  background: var(--color-sea-salt-gray);
  color: var(--color-demersal-gray);
  border: 1px solid var(--color-salt-marsh-gray);
  padding: calc(15 * var(--font-size-basis)) calc(27 * var(--font-size-basis));
  border-radius: calc(8 * var(--font-size-basis));
  width: 100%;
  box-sizing: border-box;

  /* .label-1 */
  font-size: var(--font-size-12);
  line-height: var(--line-height-base-14);
  font-weight: var(--font-weight-bold);

  text-align: center;
}

.modal__code {
  display: block;
  margin: calc(32 * var(--font-size-basis)) 0 calc(40 * var(--font-size-basis));
}

.description-title {
  /* .body-5 */
  font-size: var(--font-size-14);
  line-height: var(--line-height-base-17);
  font-weight: var(--font-weight-bold);
}
.description-data {
  /* @reset */
  padding-left: unset;
  margin-left: unset;

  /* .body-1 */
  font-size: var(--font-size-18);
  line-height: var(--line-height-1);
  font-weight: var(--font-weight-bold);

  color: var(--color-demersal-gray);
  font-weight: normal;

}

.description-data + .description-title { 
  margin-top: calc(24 * var(--font-size-basis));
}
.description-title + .description-data { 
  margin-top: calc(8 * var(--font-size-basis));
}
.description-data + .description-data { 
  margin-top: calc(4 * var(--font-size-basis));
}


.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
}



