.icon {
  fill: currentColor;
  stroke: currentColor;

  /* Default size */
  /* .icon--large */
  width: calc(24 * var(--font-size-basis));
  height: calc(24 * var(--font-size-basis));
  stroke-width: 2;
}

.icon * {
  fill: currentColor;
  stroke: currentColor;
  
  /* Default size */
  /* .icon--large */
  stroke-width: 2;
}

.icon--large {
  /* Default */
}

.icon--large * {
  /* Default */
}

.icon--small {
  width: calc(16 * var(--font-size-basis));
  height: calc(16 * var(--font-size-basis));
  stroke-width: 1.5;
}

.icon--small * {
  stroke-width: 1.5;
}

.icon--extra-small {
  width: calc(12 * var(--font-size-basis));
  height: calc(12 * var(--font-size-basis));
  stroke-width: 1.25;
}

.icon--extra-small * {
  stroke-width: 1.25;
}
