
.link {
  /* Reset <a /> */
  text-decoration: none;
  color: inherit;

  /* Reset <button /> */
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
  border-width: 0;
  background-color: transparent;
  padding: 0;

  display: flex;
  border-bottom: 2px solid transparent;

  /* For icons */
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0.5em;
  align-items: center;
}

.link:hover,
.link:active,
.link:focus,
.link--active {
  border-bottom-color: initial;
}

.link--alert::after {
  content: "";
  display: block;
  width: 0.375em;
  height: 0.375em;
  border-radius: 100%;
  background-color: var(--color-snapper-red);
}

