
.link {
  /* Reset <a /> */
  text-decoration: none;
  color: inherit;

  /* Reset <button /> */
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
  border-width: 0;
  background-color: transparent;
  padding: 0;

  display: flex;

  /* For icons */
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0.5em;
  align-items: center;

  /* .link-large */
  font-size: var(--font-size-18);
  line-height: var(--line-height-1);
  font-weight: var(--font-weight-bold);

  transition-property: color, background-color, border-color;
  transition-duration: var(--transition-duration), var(--transition-duration), var(--transition-duration);
}

.link--large {
  /* Default */
}

.link--medium {
  /* .link-small */
  font-size: var(--font-size-14);
  line-height: var(--line-height-base-17);
  font-weight: var(--font-weight-bold);
}

.link--small {
  /* .link-xs */
  font-size: var(--font-size-12);
  line-height: var(--line-height-base-14);
  font-weight: var(--font-weight-bold);
}

.link--primary:not(.link--has-active-indicator) {
  color: var(--color-ultramarine-blue);
}

.link:not(.link--has-active-indicator) {
  padding-top: 1px;
  padding-bottom: 1px;
  border-bottom: 2px solid transparent;
}

.link:not(.link--has-active-indicator):hover,
.link:not(.link--has-active-indicator):active,
.link:not(.link--has-active-indicator):focus,
.link--active:not(.link--has-active-indicator),
.link--primary:not(.link--has-active-indicator) {
  border-bottom-color: initial;
}

.link__active-indicator {
  padding-top: 1px;
  padding-bottom: 1px;
  border-bottom: 2px solid transparent;
  width: max-content;
}
.link:hover > .link__active-indicator,
.link:active > .link__active-indicator,
.link:focus > .link__active-indicator,
.link--active > .link__active-indicator {
  border-color: initial;
}

.link--alert::after {
  content: "";
  display: block;
  width: 0.375em;
  height: 0.375em;
  border-radius: 100%;
  background-color: var(--color-snapper-red);
}

