

.card-list {
  --card-image-width: 208;
  --card-image-height: 202;
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(calc(var(--card-image-width) * var(--font-size-basis)), 1fr) );
  grid-column-gap: calc(16 * var(--font-size-basis));
  grid-row-gap: calc(24 * var(--font-size-basis));
}

.card-list,
.card-list__item {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.card-list__item {
  position: relative;
}

.card-list__item-select {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
}
.card-list__item-select-label {
  opacity: 0;
  font-size: 0;
  position: absolute;
}
.card-list__item-checkbox {
  font-size: inherit;
}

.card {
  color: inherit;

  /* .link-hit-area */
  display: block;
  text-decoration: none;
}
:hover > .card__text > .card__name,
:active > .card__text > .card__name,
:focus > .card__text > .card__name {
  color: var(--link-color);

  /* .link-hit-area__active-indicator */
  text-decoration: underline;
}

.card__image {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: calc((var(--card-image-height) / var(--card-image-width)) * 100%);
}
.card__image > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid rgba(109, 108, 144, 0.5);
  border-radius: calc(8 * var(--font-size-basis));
  box-sizing: border-box;
}

.card__text {
  margin-top: calc(8 * var(--font-size-basis));
  display: block;

  /* .label-1 */
  font-size: var(--font-size-12);
  line-height: var(--line-height-base-14);
  /* font-weight: var(--font-weight-bold); */
}

.card__name {
  display: flex;
}

.card__name + br {
  display: none;
}

.card__name > small {
  font-size: inherit;
  white-space: nowrap;
}

.card__meta {
  margin-top: calc(4 * var(--font-size-basis));
  display: block;
  color: var(--color-demersal-gray);
}
