.collection-list,
.collection-list__item {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.collection-list__item {
  /* padding: calc(4 * var(--font-size-basis)) calc(8 * var(--font-size-basis)); */
  display: flex;
  align-items: center;
  margin-top: calc(32 * var(--font-size-basis));
  border-bottom: 1px solid var(--color-salt-marsh-gray);
  padding-bottom: calc(32 * var(--font-size-basis));
}

.collection-list__item--alert::before {
  content: "";
  display: block;
  width: calc(8 * var(--font-size-basis));
  height: calc(8 * var(--font-size-basis));
  border-radius: 100%;
  background-color: var(--color-snapper-red);
  margin-left: calc(-12 * var(--font-size-basis));
  position: absolute;
  transform: translateX(-100%);
}

.collection-list__item[class*="dropshadow"] {
  border: 1px solid var(--color-sea-salt-gray);
  border-radius: calc(8 * var(--font-size-basis));
  padding: 0;
}

.collection-list__item[class*="dropshadow"] + .collection-list__item[class*="dropshadow"] {
  margin-top: calc(16 * var(--font-size-basis));
}

.collection-list__description {
  color: inherit;
  flex-grow: 1;
  margin-right: calc(32 * var(--font-size-basis));
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: auto auto;
  grid-column-gap: calc(32 * var(--font-size-basis));
  grid-row-gap: calc(7 * var(--font-size-basis));
}

.collection-list__description--inactive  {
  opacity: 0.5;
}

.collection-list__description > * {
  margin-top: 0;
  margin-bottom: 0;
}

.collection-list__meta {
  grid-row: 2 / 3;
}

.collection-list__meta > * {
  margin-top: 0;
  margin-bottom: 0;
}
.collection-list__meta > .meta-list + .meta-list {
  margin-top: calc(6 * var(--font-size-basis));
}

.collection-list__heading {
  grid-row: 1 / 2;
  align-self: end;
  display: flex;
  align-items: center;
}

.collection-list__heading > * {
  margin-top: 0;
  margin-bottom: 0;
}
.collection-list__heading > * + * {
  margin-left: calc(8 * var(--font-size-basis));
}

.collection-list__image {
  grid-row: 1 / -1;
  display: block;
}
.collection-list__image:not(.collection-list__image--avatar) {
  border-radius: calc(8 * var(--font-size-basis));
  width: calc(104 * var(--font-size-basis));
  height: calc(104 * var(--font-size-basis));
}

.collection-list__item[class*="dropshadow"] .collection-list__image:not(.collection-list__image--avatar) {
  border: 1px solid var(--color-pelagic-gray);
  border-radius: calc(8 * var(--font-size-basis)) 0px 0px calc(8 * var(--font-size-basis));
}

.collection-list__options {
  margin-left: calc(29 * var(--font-size-basis));
}

.collection-list__item[class*="dropshadow"] .collection-list__options {
  margin-right: calc(21 * var(--font-size-basis));
}

.collection-list__options-button {
  padding:
    calc(24 * var(--font-size-basis))
    calc(30 * var(--font-size-basis))
    calc(24 * var(--font-size-basis))
    calc(30 * var(--font-size-basis));  
}

.collection-list__toast {
  margin: 0;
}
