
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-1) var(--space-3);
  box-sizing: border-box;
  /* position: sticky;
  top: 0;
  background-color: var(--background-color);
  text-color: var(--text-color); */
}

.header--explore {
  padding: calc(12 * var(--font-size-basis)) calc(40 * var(--font-size-basis));
}

.header > * + * {
  margin-left: 3em;
}

.header--explore > * + * {
  margin-left: calc(40 * var(--font-size-basis));
}

.header__title-group {
  display: flex;
  align-items: center;

  /* .body-1 */
  font-size: var(--font-size-18);
  line-height: var(--line-height-1);
  font-weight: var(--font-weight-bold);
}
.header__title-group > * {
  font-size: inherit;
  margin: 0;
}
.header__title-group > :not(:first-child) {
  margin-left: 0.5em;
}

.header--explore > .header__nav {
  flex-grow: 1;
}

.header--home-page {
  background-color: var(--text-color);
  color: var(--background-color);
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.button--home-page {
  background-color: transparent;
  color: var(--color-white);
}
.button--home-page:hover,
.button--home-page:active,
.button--home-page:focus {
  background-color: var(--color-white);
  color: var(--color-benthos-blue);
}
