
.logotype {
  font-weight: bold;
  margin: 0;
  --font-size-20: calc(20 * var(--font-size-basis));
  font-size: var(--font-size-20);
}

.logotype > a {
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid transparent;
}
.logotype > a:hover,
.logotype > a:active,
.logotype > a:focus {
  border-bottom-color: initial;
}
