
.logotype {
  margin: 0;

  /* .body-1 */
  font-size: var(--font-size-18);
  line-height: var(--line-height-1);
  font-weight: var(--font-weight-bold);
}

.logotype > a {
  text-decoration: none;
  color: inherit;
  padding-bottom: 1px;
  border-bottom: 2px solid transparent;

  transition-property: color, background-color, border-color;
  transition-duration: var(--transition-duration), var(--transition-duration), var(--transition-duration);
}
.logotype > a:hover,
.logotype > a:active,
.logotype > a:focus {
  border-bottom-color: initial;
}
