.meta-box {
  border: 1px solid var(--color-lagoon-blue);
  border-radius: calc(8 * var(--font-size-basis));
}
.meta-box__list,
.meta-box__list-item {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.meta-box > * {
  margin: 0;
  padding: calc(24 * var(--font-size-basis));
}
.meta-box > .meta-box__summary {
  padding-bottom: calc(16 * var(--font-size-basis));
}

.meta-box__link {
  color: inherit;
}
.meta-box__link:hover,
.meta-box__link:active,
.meta-box__link:focus {
  color: var(--link-color);
}

.meta-box__list {
  max-height: calc(var(--vertical-rhythm) * 8);
  overflow-y: auto;
}

.meta-box__summary {
  border-bottom: 1px solid var(--color-lagoon-blue);
}

.meta-box__heading {
  line-height: 1.2;
}
.meta-box__heading > em {
  font-style: inherit;
  font-weight: normal;
}

.meta-box__list-item + .meta-box__list-item {
  margin-top: calc(12 * var(--font-size-basis));
}

.meta-box__summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meta-box__summary {
  list-style: none;
}
.meta-box__summary::-webkit-details-marker {
  display: none;
}

.meta-box__open-icon {
  display: unset;
}
.meta-box__close-icon {
  display: none;
}

[open] .meta-box__open-icon {
  display: none;
}
[open] .meta-box__close-icon {
  display: unset;
}

/* SHIM: Make the list look nicer in browsers that don’t understand summary / details */
/* https://github.com/whatwg/html/issues/722 */
/* .meta-box__summary {
  display: list-item;
  list-style: disclosure-closed inside;
}
[open] > .meta-box__summary {
  list-style: disclosure-open inside;
} */

.meta-box__heading {
  font-size: var(--font-size-24);
  margin: 0;
  /* margin-top: -1.25em;
  margin-left: 1.5rem; */
}

.meta-box__description-title {
  color: var(--color-bay-blue);

  /* .label-1 */
  font-size: var(--font-size-12);
  line-height: var(--line-height-1);
  font-weight: var(--font-weight-bold);
}
.meta-box__description-data {
  /* @reset */
  padding-left: unset;
  margin-left: unset;

  /* .body-1 */
  font-size: var(--font-size-18);
  line-height: var(--line-height-1);
  font-weight: var(--font-weight-bold);
}


.meta-box__description-data + .meta-box__description-title {
  margin-top: calc(12 * var(--font-size-basis));
}


.meta-box__name {
  display: flex;
  align-items: center;
}

.meta-box__name > * + * {
  margin-left: calc(12 * var(--font-size-basis));
}

.meta-box__status {
  /* .link-xs */
  font-size: var(--font-size-12);
  line-height: var(--line-height-base-14);
  font-weight: var(--font-weight-bold);

  color: var(--color-ultramarine-blue);
  display: flex;
  align-items: center;
}

.meta-box__status > * + * {
  margin-left: calc(6 * var(--font-size-basis));
}

