
.modal {
  border-width: 0;
  padding: calc(48 * var(--font-size-basis)) calc(24 * var(--font-size-basis)) calc(24 * var(--font-size-basis));
  border-radius: calc(8 * var(--font-size-basis));

  /* SHIM: For border-radius */
  overflow: hidden;

  background: var(--background-color);
  color: var(--text-color);

  position: absolute;

  /* SHIM: Just above the icon for the next item on the collections page */
  z-index: 2;
}

.modal__title {
  margin-bottom: calc(24 * var(--font-size-basis));
}

.modal__text {
  margin: 0 auto calc(24 * var(--font-size-basis));
  line-height: calc(24 * var(--font-size-basis));
  max-width: 20em;
}

.modal--justify-end {
  transform: translateX(-100%);
}

.modal--align-end {
  transform: translateY(-100%);
}

/* SHIM: Avoid covering the button */
.button + .modal--align-end {
  --button-height: calc(72 * var(--font-size-basis));
  margin-top: calc(var(--button-height) * -1);
}

.modal--data-list {
  padding: 0;
}

.modal__data-list {
  margin: 0;
  max-height: calc(var(--line-height-1) * 8.5);
  overflow-y: auto;
}

.modal--dialog {
  text-align: center;
  padding-left: calc(36 * var(--font-size-basis));
  padding-right: calc(36 * var(--font-size-basis));
  padding-bottom: calc(32 * var(--font-size-basis));
  position: fixed;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}

.modal__content {
  --modal-header-and-footer-height: calc(300 * var(--font-size-basis));
  max-height: calc(100vh - var(--modal-header-and-footer-height));
  box-sizing: content-box;
  overflow: auto;
}

.modal__option-list {
  margin-top: calc(64 * var(--font-size-basis));
}

/* SHIM: Reset style from .button-list__item:not(:first-child) */
.modal__option-list-item:not(:first-child) {
  margin-left: unset;
}

/* SHIM: Use :last-child instead of :first-child, since the list is styled with row-reverse */
.modal__option-list-item:not(:last-child) {
  margin-left: calc(20 * var(--font-size-basis));
}

.modal__option-link {
  margin-left: calc(12 * var(--font-size-basis));
  margin-right: calc(12 * var(--font-size-basis));
}

.modal__mini-option-list {
  border-top: 1px solid var(--color-salt-marsh-gray);
  padding: calc(16 * var(--font-size-basis)) calc(24 * var(--font-size-basis));
  justify-content: space-between;
  flex-direction: row-reverse;
}

.modal--dialog > .modal__option-list {
  justify-content: center;
  flex-direction: row-reverse;
}

.modal--dialog > :first-child {
  margin-top: 0;
}

.modal--dialog > :last-child {
  margin-bottom: 0;
}

.modal--details {
  padding-bottom: calc(48 * var(--font-size-basis));
  min-width: calc(352 * var(--font-size-basis));
}

.modal__aside-button {
  width: max-content;
  margin-left: auto;
}

.modal__avatar {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.modal__headline {
  margin-top: calc(12 * var(--font-size-basis));
  margin-bottom: 0;
}

.modal__meta {
  margin-top: calc(4 * var(--font-size-basis));
}

.modal__meta-link {
  width: max-content;
  margin: 0 auto;
}

.modal__description-list {
  text-align: left;
  margin-top: calc(40 * var(--font-size-basis));
}

.modal__field {
  margin: calc(24 * var(--font-size-basis));
}

/* SHIM: Make the space above the field list the same to the left and right */
.modal__data-list > :first-child > .data-list__field {
  margin-top: calc(8 * var(--font-size-basis));
}
.modal__data-list > :last-child > .data-list__field {
  margin-bottom: calc(8 * var(--font-size-basis));
}

/* SHIM: Reduce space between field and data list */
.modal__field + .modal__data-list > :first-child > .data-list__field {
  margin-top: calc(-16 * var(--font-size-basis));
}

.modal__field + .modal__data-list {
  max-height: calc(var(--line-height-1) * 9);
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* SHIM: Same z-index as the modal */
  z-index: 2;
}



.modal .profile-form__fieldset {
  /* SHIM: Reset the effect of .modal--dialog */
  text-align: start;
}


