
.modal {
  border-width: 0;
  padding: calc(48 * var(--font-size-basis)) calc(24 * var(--font-size-basis)) calc(24 * var(--font-size-basis));
  border-radius: calc(8 * var(--font-size-basis));

  /* SHIM: For border-radius */
  overflow: hidden;

  background: var(--background-color);
  color: var(--text-color);

  position: absolute;

  /* SHIM: Just above the icon for the next item on the collections page */
  z-index: 2;
}

.modal__title {
  margin-bottom: calc(24 * var(--font-size-basis));
}

.modal__text {
  margin: 0 0 calc(24 * var(--font-size-basis));
  line-height: calc(24 * var(--font-size-basis));
  max-width: 20em;
}

.modal--justify-end {
  transform: translateX(-100%);
}

.modal--data-list {
  padding: 0;
  max-height: calc(var(--line-height-1) * 8.5);
  overflow-y: auto;
}

.modal--dialog {
  text-align: center;
}

.modal__option-list {
  margin-top: calc(64 * var(--font-size-basis));
}

.modal--dialog > .modal__option-list {
  justify-content: center;
}

.modal > :first-child {
  margin-top: 0;
}

.modal > :last-child {
  margin-bottom: 0;
}
