
.nav,
.nav > li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav--vertical {
  display: unset;

  /* .heading-4 */
  font-size: var(--font-size-24);
  line-height: var(--line-height-1-point-5);
  font-weight: var(--font-weight-bold);
}

.nav > li + li {
  margin-left: calc(50 * var(--font-size-basis));
}

.nav--vertical > li + li {
  margin-left: unset;
  margin-top: calc(32 * var(--font-size-basis));
}

.nav__link {
  /* Reset <a /> */
  text-decoration: none;
  color: inherit;

  /* Reset <button /> */
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
  border-width: 0;
  background-color: transparent;
  padding: 0;

  display: flex;
  border-bottom: 2px solid transparent;

  /* SHIM: Avoid wrapping the “Sign in” link in the search header */
  /* white-space: nowrap; */

  /* For icons */
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0.5em;
  align-items: center;
}

.nav__link--vertical {
  width: max-content;
  color: var(--color-pelagic-gray);
}

.nav__link:hover,
.nav__link:active,
.nav__link:focus,
.nav__link--active {
  color: unset;
  border-bottom-color: unset;
}

.nav__link--alert::after {
  content: "";
  display: block;
  width: calc(8 * var(--font-size-basis));
  height: calc(8 * var(--font-size-basis));
  border-radius: 100%;
  background-color: var(--color-snapper-red);
}

