
.nav,
.nav > li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav--vertical {
  display: unset;

  /* .heading-4 */
  font-size: var(--font-size-24);
  line-height: var(--line-height-1-point-5);
  font-weight: var(--font-weight-bold);
}

.nav--horizontal {
  /* SHIM: Override default .nav style, intended for the header */
  justify-content: unset;
}

.nav--medium {
  /* .body-1 */
  font-size: var(--font-size-18);
  line-height: var(--line-height-1);
  font-weight: var(--font-weight-bold);
}

.nav__text-meta {
  font-style: normal;
  font-weight: normal;
}

.nav__link:not(.nav__link--active) > .nav__text-meta {
  color: inherit;
}

.nav > li + li {
  margin-left: calc(50 * var(--font-size-basis));
}

.nav--vertical > li + li {
  margin-left: unset;
  margin-top: calc(32 * var(--font-size-basis));
}

.nav__link {
  /* Reset <a /> */
  text-decoration: none;
  color: inherit;

  /* Reset <button /> */
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
  border-width: 0;
  background-color: transparent;
  padding: 0;

  display: flex;
  padding-top: 1px;
  padding-bottom: 1px;
  border-bottom: 2px solid transparent;

  /* SHIM: Avoid wrapping the “Sign in” link in the search header */
  /* white-space: nowrap; */

  /* For icons */
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0.5em;
  align-items: center;

  transition-property: color, background-color, border-color;
  transition-duration: var(--transition-duration), var(--transition-duration), var(--transition-duration);
}

.nav__link--horizontal {
  color: var(--color-pelagic-gray);
}
.nav__link--vertical {
  width: max-content;
  color: var(--color-pelagic-gray);
}

.nav__link:hover,
.nav__link:active,
.nav__link:focus,
.nav__link--active {
  color: unset;
  border-bottom-color: unset;
}

.nav__link--alert {
  position: relative;
}
.nav__link--alert::after {
  content: "";
  display: block;
  width: calc(8 * var(--font-size-basis));
  height: calc(8 * var(--font-size-basis));
  border-radius: 100%;
  background-color: var(--color-snapper-red);
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  margin-top: calc(2 * var(--font-size-basis));
  margin-right: calc(-5 * var(--font-size-basis));
}

