
.nav,
.nav > li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  line-height: 22px;
}

.nav > li + li {
  margin-left: 3em;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  display: flex;
  border-bottom: 2px solid transparent;

  /* For icons */
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0.5em;
  align-items: center;
}

.nav__link:hover,
.nav__link:active,
.nav__link:focus,
.nav__link--active {
  border-bottom-color: initial;
}

.nav__link--alert::after {
  content: "";
  display: block;
  width: 0.375em;
  height: 0.375em;
  border-radius: 100%;
  background-color: var(--color-snapper-red);
}

