.header__search-box {
  flex-grow: 1;
}


.search-box__list,
.search-box__item {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.search-box {
  border: 1px solid var(--color-salt-marsh-gray);
  border-radius: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: calc(915 * var(--font-size-basis));
  width: 100%;
  box-sizing: border-box;
}

.search-box__list {
  margin: 0;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.search-box__item:not(:first-child) {
  border-left: 1px solid var(--color-salt-marsh-gray);
}

.search-box__item:nth-of-type(1) {
  flex-basis: calc(375 * var(--font-size-basis));
  flex-grow: 1;
}

.search-box__item:nth-of-type(2) {
  flex-basis: calc(185 * var(--font-size-basis));
  flex-grow: 1;
}

.search-box__item:nth-of-type(3) {
  flex-grow: 1;
}

.search-box__label {
  display: block;
  padding: calc(8 * var(--font-size-basis)) calc(24 * var(--font-size-basis));
}

:first-child > .search-box__label {
  display: block;
  padding: calc(8 * var(--font-size-basis)) calc(32 * var(--font-size-basis));
}

.search-box__dropdown-button,
.search-box__field {

  width: 100%;
  margin: calc(6 * var(--font-size-basis)) 0 0 0;

  /* .body-5 */
  font-size: var(--font-size-14);
  line-height: var(--line-height-base-17);
  font-weight: var(--font-weight-bold);
}

.search-box__field {
  border-width: 0;
  display: block;
  font-family: inherit;
}

.search-box__dropdown-button {
}

/* .text-single-line */
.search-box__field::placeholder {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-box__submit {
  margin: 0;
}

.search-box__button {
  margin-right: calc(12 * var(--font-size-basis));
}

/* .meta-box__description-title */
.search-box__label-text {
  display: block;
  color: var(--color-bay-blue);

  /* .label-3 */
  font-size: var(--font-size-10);
  line-height: var(--line-height-base-12);
  font-weight: var(--font-weight-bold);
}




.home-page__search-box .search-box,
.home-page__search-box .search-box__item {
  border-color: var(--color-ultramarine-blue);
}

.home-page__search-box .search-box {
  width: 100%;
  max-width: initial;
  /* opacity: 0.5;
  filter: invert(100%); */
}

.home-page__search-box  .search-box__item:nth-of-type(1) {
  flex-basis: calc(350 * var(--font-size-basis));
}

.home-page__search-box  .search-box__item:nth-of-type(2) {
  flex-basis: calc(365 * var(--font-size-basis));
}

.home-page__search-box .search-box__label {
  padding: calc(36 * var(--font-size-basis)) calc(66 * var(--font-size-basis)) calc(36 * var(--font-size-basis));
}

.home-page__search-box :first-child > .search-box__label {
}

.home-page__search-box .search-box__label-text {
  /* .body-1 */
  font-size: var(--font-size-18);
  line-height: var(--line-height-1);
  font-weight: var(--font-weight-bold);
}

.home-page__search-box .search-box__field,
.home-page__search-box .search-box__dropdown-button {
  /* .body-1 */
  font-size: var(--font-size-18);
  line-height: var(--line-height-1);
  /* font-weight: var(--font-weight-bold); */

  background-color: transparent;
  color: var(--color-white);
  font-weight: normal;
}
.home-page__search-box .search-box__dropdown-button .icon {
  align-self: center;
  margin-left: 0.5em;
}

.home-page__search-box .search-box__field::placeholder {
  color: var(--color-white);
}

.home-page__search-box .search-box__button {
  margin-right: calc(48 * var(--font-size-basis));
  margin-right: calc(62 * var(--font-size-basis));
  transform: scale(2);
}

.home-page__search-box .search-box__button:hover,
.home-page__search-box .search-box__button:active,
.home-page__search-box .search-box__button:focus {
  background-color: var(--color-white);
  color: var(--color-ultramarine-blue);
}

