
.tabs {
  /* Reset <fieldset /> */
  border-width: 0;
  padding: 0;
}

.tabs__list,
.tabs__items {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.tabs__list {
  margin: 0;
  display: flex;
}

.tabs__item {
}

.tabs__button {
  /* Reset <a /> */
  text-decoration: none;

  /* Reset <button /> */
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;

  /* Body 5 */
  font-size: var(--font-size-14);
  line-height: var(--line-height-1);
  font-weight: var(--font-weight-bold);
  
  background-color: var(--color-white);
  color: var(--color-benthos-blue);
  padding: 0.75em 1.875em;
  display: block;
  text-align: center;

  transition-property: color, background-color, border-color;
  transition-duration: 0.2s, 0.2s, 0.2s;
}

.tabs__button {
  border-width: 1px 0;
  border-style: solid;
  border-color: var(--color-salt-marsh-gray);
}

.tabs__item + .tabs__item .tabs__button {
  border-left-width: 1px;
}

.tabs__item:first-child .tabs__button {
  border-left-width: 1px;
  border-top-left-radius: calc(8 * var(--font-size-basis));
  border-bottom-left-radius: calc(8 * var(--font-size-basis));
}

.tabs__item:last-child .tabs__button {
  border-right-width: 1px;
  border-top-right-radius: calc(8 * var(--font-size-basis));
  border-bottom-right-radius: calc(8 * var(--font-size-basis));
}

.tabs__button:hover,
.tabs__button:active,
.tabs__button:focus {
  background-color: var(--color-sea-salt-gray);
}

.tabs__item:focus-within .tabs__button {
  border-color: var(--color-lagoon-blue);
  box-shadow: 0px 0px calc(2/16 * 1em) rgba(85, 122, 255, 0.88);
  background-color: var(--color-sea-salt-gray);
}

.tabs__radio {
  position: absolute;
  opacity: 0;
}

:checked + .tabs__button,
.tabs__item:focus-within :checked + .tabs__button,
.tabs__button--active,
.tabs__button--active:hover,
.tabs__button--active:active,
.tabs__button--active:focus {
  background-color: var(--color-benthos-blue);
  border-color: transparent;
  color: var(--color-white);
  cursor: default;
}


.explore-tabs {
  /* .dropshadow--soft */
  border: 1px solid var(--color-sea-salt-gray);
  box-shadow: 0px 4px 32px rgba(109, 108, 144, 0.12);

  border-width: 1px;
  border-style: solid;
  border-color: var(--color-littoral-blue);

  border-radius: calc(32 * var(--font-size-basis));
  overflow: hidden;
}


.explore-tabs__item + .explore-tabs__item {
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: var(--color-littoral-blue);
}


.explore-tabs__list,
.explore-tabs__item {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}


.explore-tabs__list {
  display: flex;
  margin: 0;
}

.explore-tabs__button {
  /* Reset <a /> */
  text-decoration: none;

  /* Reset <button /> */
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;

  background-color: var(--color-white);
  color: var(--color-lagoon-blue);
  padding: calc(14 * var(--font-size-basis)) calc(21 * var(--font-size-basis));
  display: block;
  text-align: center;

  transition-property: color, background-color, border-color;
  transition-duration: 0.2s, 0.2s, 0.2s;
}

.explore-tabs--vertical .explore-tabs__list {
  flex-direction: column;
}

.explore-tabs--vertical .explore-tabs__item + .explore-tabs__item {
  border-width: 1px 0 0 0;
}

.explore-tabs--vertical .explore-tabs__button {
  padding: calc(21 * var(--font-size-basis)) calc(14 * var(--font-size-basis));
}

.explore-tabs__button:hover,
.explore-tabs__button:active,
.explore-tabs__button:focus {
  background-color: var(--color-sea-salt-gray);
  color: var(--color-ultramarine-blue);
}

.explore-tabs__button--active,
.explore-tabs__button--active:hover,
.explore-tabs__button--active:active,
.explore-tabs__button--active:focus {
  background-color: var(--color-white);
  color: var(--color-ultramarine-blue);
  cursor: default;
}

.explore-tabs__icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
}
