

.header--explore {
  position: sticky;
  top: 0;
  z-index: 402; /* Just above the .explore-page__controls */
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-sea-salt-gray);
  box-shadow: 0px 4px 32px rgba(109, 108, 144, 0.12);
}

.explore-page {
  padding: 0;
  /* border-top: 1px solid var(--color-sea-salt-gray); */
  /* box-shadow: inset 0px 4px 32px rgba(109, 108, 144, 0.12); */
}

.explore-page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 calc(24 * var(--font-size-basis));
}

.explore-page__select-all {
  margin: 0;
}

.explore-page__title {
  margin: 0;
}


.explore-page {
  display: grid;
  grid-template-columns: 1fr;
}

.explore-page--map-tree-images {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  padding-left: 0;
}

.explore-page--map-tree-images .explore-page__controls {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

/*
.explore-page--map-tree-images .explore-page__controls {
  grid-row: 1 / 2;
  grid-column: -2 / -1;
}
*/

.explore-page__filters {
  grid-row: 1 / 2;
  grid-column: -2 / -1;
  padding: var(--space-1);
  padding: calc(22 * var(--font-size-basis)) var(--space-1);
  border-bottom: 1px solid var(--color-sea-salt-gray);
  margin: 0;
}

.explore-page__map {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  border-right: 1px solid var(--color-sea-salt-gray);
  margin: 0;
}



.explore-page__controls {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  z-index: 1;
  justify-self: stretch;
  align-self: start;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: max-content 1fr;
  padding: calc(16 * var(--font-size-basis)) calc(24 * var(--font-size-basis));

  box-sizing: border-box;

  pointer-events: none;
}
.explore-page__controls > * {
  pointer-events: initial;
}

.explore-page__controls--map,
.explore-page__controls--tree {
  padding: calc(24 * var(--font-size-basis));

  position: sticky;
  z-index: 2;
  /* top: 0; */
  --explore-header-height: calc(83 * var(--font-size-basis));
  top: var(--explore-header-height);
}

.explore-page__controls--map {
  grid-template-rows: max-content 1fr max-content;
  height: calc(100vh - var(--explore-header-height));
}
.explore-page__controls-map-zoom {
  grid-column: -2 / -1;
  grid-row: -2 / -1;
  justify-self: end;
  align-self: end;
}

.explore-page__controls--tree {
  height: calc(180 * var(--font-size-basis));
  background-image:
    linear-gradient(
      180deg,
      #26266E 0%,
      rgba(36, 35, 105, 0.96) 49.48%,
      rgba(33, 31, 99, 0) 100%
    );
}

.explore-page__controls-nav {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  align-self: center;
  justify-self: center;
}

.explore-page__controls-close {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  align-self: center;
  justify-self: start;
}

.explore-page__controls-expand {
  grid-row: 1 / 2;
  grid-column: -2 / -1;
  align-self: center;
  justify-self: end;
}

.explore-page__tree {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  border-right: 1px solid var(--color-sea-salt-gray);
  margin: 0;
}

.map-box {
  background: var(--color-ultramarine-blue);
  width: 100%;
  --explore-header-height: calc(83 * var(--font-size-basis));
  height: calc(100vh - var(--explore-header-height));
}

.explore-page--map-tree-images .map-box {
  position: sticky !important; /* SHIM: Override .mapboxgl-map */
  z-index: 1;
  /* top: 0; */
  /* height: 100vh; */
  --explore-header-height: calc(83 * var(--font-size-basis));
  height: calc(100vh - var(--explore-header-height));
  top: var(--explore-header-height);
}

.tree-box {
  background-color:  var(--color-benthos-blue);
  color: var(--color-white);
  background-image:
    var(--background-image, linear-gradient(transparent, transparent)),
    linear-gradient(180deg, #26266E 0%, rgba(36, 35, 105, 0.96) 49.48%, rgba(33, 31, 99, 0.42) 100%)
    ;
  background-repeat: repeat;
  box-sizing: border-box;
  width: 100%;
  --explore-header-height: calc(83 * var(--font-size-basis));
  min-height: calc(100vh - var(--explore-header-height));

  /* Position the “Exact match” button at bottom of available space */
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
}

.tree-box__dropdown {
  padding: calc(24 * var(--font-size-basis));
  position: sticky;
  bottom: 0;
  left: 0;
}

.explore-page--map-tree-images .tree-box {
  position: sticky;
  /* top: 0; */
  /* height: 100vh; */
  height: calc(100vh - var(--explore-header-height));
  top: var(--explore-header-height);
  overflow-y: auto;
}

.tree {
  padding: calc(72 * var(--font-size-basis)) calc(24 * var(--font-size-basis));

  --controls-height: 180;
  --tree-item-margin: 32;
  padding-top: calc((var(--controls-height) - var(--tree-item-margin)) * var(--font-size-basis));
}

.tree__summary {
  display: flex;
  align-items: flex-end;
  width: max-content;
}

.tree__summary {
  list-style: none;
}
.tree__summary::-webkit-details-marker {
  display: none;
}

.tree__open-icon,
.tree__close-icon {
  color: var(--color-lagoon-blue);
  margin-left: calc(16 * var(--font-size-basis));
}

.tree__open-icon {
  display: unset;
}
.tree__close-icon {
  display: none;
}

[open] > summary .tree__open-icon {
  display: none;
}
[open] > summary .tree__close-icon {
  display: unset;
}

.tree__list,
.tree__item {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.tree__list {
  margin: 0;
}

.tree__item {
  margin-top: calc(32 * var(--font-size-basis));
  margin-left: calc(40 * var(--font-size-basis));
}

.tree__description {
  border-radius: calc(8 * var(--font-size-basis));
  padding: calc(17 * var(--font-size-basis)) calc(64 * var(--font-size-basis)) calc(17 * var(--font-size-basis)) calc(48 * var(--font-size-basis));
  margin: calc(-17 * var(--font-size-basis)) calc(-64 * var(--font-size-basis)) calc(-17 * var(--font-size-basis)) calc(-48 * var(--font-size-basis))
}

.tree__description--active {
  background-color: hsla(180, 100%, 100%, 12%);
}

.tree__field {
  position: absolute;
  transform: translateX(-100%);
  padding: calc(14 * var(--font-size-basis));
}

.tree__field-label {
  position: absolute;
  opacity: 0;
  font-size: 0;
}

.tree__field-checkbox {
  margin: calc(18 * var(--font-size-basis)) 0 0;
  vertical-align: text-top;
}

.tree__label {
  /* .body-5 */
  font-size: var(--font-size-14);
  line-height: var(--line-height-base-17);
  font-weight: var(--font-weight-bold);

  color: var(--color-bay-blue);
  display: block;
  margin-bottom: calc(8 * var(--font-size-basis));
}

.tree__heading {
  /* .heading-4 */
  font-size: var(--font-size-24);
  line-height: var(--line-height-1-point-5);
  font-weight: var(--font-weight-bold);

  color: var(--color-white);
  display: block;
}

.explore-page__results {
  grid-row: 2 / 3;
  grid-column: -2 / -1;
  padding: calc(40 * var(--font-size-basis)) var(--space-1) calc(120 * var(--font-size-basis)) ;
  margin: 0;
}


.explore-page__download-button {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  margin: calc(40 * var(--font-size-basis)) var(--space-1) calc(24 * var(--font-size-basis));
  transition: opacity 0.4s;
}

.explore-page__download-button--inactive {
  opacity: 0;
  pointer-events: none;
}
