
.home-page {
  margin-top: 0;
  padding-top: 0;
}


.home-page__heading {
  margin-top: 0;
  margin-bottom: 0;
}

.home-page__heading--centered {
  text-align: center;
  max-width: calc(530 * var(--font-size-basis));
  margin-left: auto;
  margin-right: auto;
}

.home-page__statistic .home-page__heading {
  padding-top: calc(122 * var(--font-size-basis));
  margin-bottom: calc(104 * var(--font-size-basis));
}
.home-page__sub-heading {
  margin-top: 0;
  margin-top: calc(16 * var(--font-size-basis));
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  /* .body-1 */
  font-size: var(--font-size-18);
  line-height: var(--line-height-1);
  /* font-weight: var(--font-weight-bold); */

  color: var(--color-aphotic-blue);
}
.home-page__heading strong {
  color: var(--color-ultramarine-blue);
}

.home-page__section--dark-mode {
  background-color: var(--text-color);
  color: var(--background-color);
  background:
    linear-gradient(
      180deg,
      #111060 0%,
      #0B0A46 51.56%,
      #0B0B3D 99%,
      #040416 99%,
      hsla(180, 0%, 100%, 100%) 100%
    );
  background-size: cover;
  background-repeat: repeat;
}
.home-page__section--dark-mode {
  position: relative;
}
.home-page__section--dark-mode > * {
  position: relative;
  z-index: 3;
}
.home-page__section--dark-mode::after {
  content: "";
  background-color: var(--background-color);
  display: block;
  position: absolute;
  width: 100%;
  height: calc(208 * var(--font-size-basis));
  bottom: 0;
  left: 0;
  z-index: 2;
}

.home-page__search {
  margin-top: 0;
  margin-bottom: 0;

  background-color: var(--text-color);
  color: var(--background-color);
  background:
    linear-gradient(
      180deg,
      #111060 0%,
      #0B0A46 51.56%,
      #0B0B3D 100%,
      #040416 100%
    );

  display: grid;
  grid-template-columns:
    96fr
    1248fr
    96fr
    ;
  grid-template-rows: calc(226 * var(--font-size-basis)) auto auto calc(100 * var(--font-size-basis));
  grid-template-rows: calc(126 * var(--font-size-basis)) 1fr auto calc(76 * var(--font-size-basis)) auto 1fr;
  grid-template-rows: calc(100 * var(--font-size-basis)) 1.5fr auto 1fr auto 1fr;
  height: calc(100vh - calc(118 * var(--font-size-basis)));
}
.home-page__search-background {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-self: stretch;
  align-self: stretch;
}
.home-page__search-heading {
  margin: 0;
}
.home-page__search-description {
  grid-row: 3 / 4;
  grid-column: 2 / -2;
}
.home-page__search-box {
  grid-row: 5 / 6;
  grid-column: 2 / -2;
}

.home-page__search-paragraph {
  /* .heading-4 */
  font-size: var(--font-size-24);
  line-height: var(--line-height-1-point-5);
  /* font-weight: var(--font-weight-bold); */

  font-weight: normal;
  line-height: calc(39 * var(--font-size-basis));
  max-width: calc(640 * var(--font-size-basis));
  margin-top: calc(32 * var(--font-size-basis));
}

.home-page__search-box {
  /* margin-top: calc(76 * var(--font-size-basis)); */
}
.home-page__search-form {
  margin: 0;
}
.home-page__search-explore {
  text-align: center;
  /* .body-5 */
  font-size: var(--font-size-14);
  line-height: var(--line-height-base-17);
  /* font-weight: var(--font-weight-bold); */

  margin-top: calc(40 * var(--font-size-basis));
}
.home-page__search-link.link--primary {
  color: inherit;
}



.home-page__together {
  margin-top: calc(94 * var(--font-size-basis));
  margin-top: calc(88 * var(--font-size-basis));
  margin-bottom: 0;

  display: grid;
  grid-template-columns:
    120fr
    460fr
    100fr
    640fr
    120fr
    ;
  grid-column-gap: calc(0 * var(--font-size-basis));
  grid-row-gap: calc(72 * var(--font-size-basis));
  grid-row-gap: calc(66 * var(--font-size-basis));

  padding-bottom: calc(178 * var(--font-size-basis));
}


.home-page__together-header {
  grid-column: 2 / -2;
}

.home-page__together-list {
  margin-top: calc(72 * var(--font-size-basis));
  margin-bottom: calc(72 * var(--font-size-basis));
  grid-column: 2 / 3;
}

.home-page__together-list-figure {
  grid-column: -3 / -1;
  margin: 0;
}

.home-page__together-list,
.home-page__together-list-item {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.home-page__together-list-item + .home-page__together-list-item {
  margin-top: calc(40 * var(--font-size-basis));
  margin-top: calc(80 * var(--font-size-basis));
}

.home-page__together-list-details-content {
  display: grid;
  grid-template-columns: calc(50 * var(--font-size-basis)) 1fr;
  grid-column-gap: calc(24 * var(--font-size-basis))
}

.home-page__together-list-summary {
  list-style: none;
  display: grid;
  grid-template-columns: calc(50 * var(--font-size-basis)) 1fr;
  grid-column-gap: calc(24 * var(--font-size-basis))
}
.home-page__together-list-summary::-webkit-details-marker {
  display: none;
}

.home-page__together-list-details-content > * {
  grid-column: 2 / 3;
}

.home-page__together-list-icon {
  grid-column: 1 / 2;
  width: calc(50 * var(--font-size-basis));
  height: calc(50 * var(--font-size-basis));
}

.home-page__together-list-details-content > *,
.home-page__together-list-summary > * {
  margin: 0;
}
.home-page__together-list-description {
  margin-top: calc(32 * var(--font-size-basis));
  max-width: calc(300 * var(--font-size-basis));
}
.home-page__together-list-cta {
  margin-top: calc(24 * var(--font-size-basis));
}

.home-page__together-list-description {
  color: var(--color-aphotic-blue);
}


.home-page__together-list-link {
  color: var(--color-ultramarine-blue);
}


.home-page__together-list-figure {
  padding-bottom: calc(575 / 760 * 100%);
  position: relative;
}

.home-page__together-list-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
}


.home-page__together-list-item details:not([open]) {
  opacity: 0.5;
}
/* .home-page__together-list-item:not(.home-page__together-list-item--active) .home-page__together-list-description,
.home-page__together-list-item:not(.home-page__together-list-item--active) .home-page__together-list-cta {
  display: none;
} */









.home-page__statistic {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}
.home-page__statistic-background {
  object-fit: cover;
  justify-self: stretch;
  align-self: stretch;
  width: 100%;
  height: 100%;
}
.home-page__statistic > .home-page__statistic-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}



.home-page__statistic-list,
.home-page__statistic-list-item {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.home-page__statistic-list {
  display: flex;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.home-page__statistic-list > * + * {
  margin-left: calc(60 * var(--font-size-basis));
}

.home-page__statistic-list-item {
  width: calc(360 * var(--font-size-basis));
  box-sizing: border-box;
  text-align: center;

  /* .modal */
  border-width: 0;
  padding: calc(80 * var(--font-size-basis)) calc(24 * var(--font-size-basis)) calc(95 * var(--font-size-basis));
  border-radius: calc(8 * var(--font-size-basis));

  /* SHIM: For border-radius */
  overflow: hidden;

  background: var(--background-color);
  color: var(--text-color);
}

.home-page__statistic-data {
  margin-top: calc(40 * var(--font-size-basis));
  margin-bottom: 0;
}
.home-page__statistic-description {
  margin-top: calc(16 * var(--font-size-basis));
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}




.home-page__popular {
  margin-top: calc(144 * var(--font-size-basis));
  margin-bottom: 0;
  display: grid;
  grid-template-columns:
    calc(calc(120 - 32 - 24) * var(--font-size-basis))
    448fr
    760fr
    calc(calc(120 - 24) * var(--font-size-basis))
    ;
  grid-row-gap: calc(72 * var(--font-size-basis));
  grid-column-gap: calc(24 * var(--font-size-basis));

  padding-bottom: calc(164 * var(--font-size-basis));
}


.home-page__popular-header {
  grid-column: 2 / -2;
}

.home-page__popular-list {
  margin-top: calc(calc(72 - 18) * var(--font-size-basis));
  grid-column: 2 / 3;
}

.home-page__popular-figure {
  grid-column: -3 / -2;
  margin: 0;
}

.home-page__popular-list,
.home-page__popular-list-item {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.home-page__popular-list-item + .home-page__popular-list-item {
  margin-top: calc(4 * var(--font-size-basis));
}



.home-page__popular-list-link {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-column-gap: calc(16 * var(--font-size-basis));
  text-decoration: none;
  color: inherit;
  /* width: calc(342 * var(--font-size-basis)); */
  padding: calc(18 * var(--font-size-basis)) calc(32 * var(--font-size-basis));

  border-radius: calc(8 * var(--font-size-basis));
}
.home-page__popular-list-link:hover,
.home-page__popular-list-link:active,
.home-page__popular-list-link:focus,
.home-page__popular-list-link--active {
  background-color: var(--color-littoral-blue);
}
.home-page__popular-list-kind {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: block;
  color: var(--color-bay-blue);

  /* .body-5 */
  font-size: var(--font-size-14);
  line-height: var(--line-height-base-17);
  font-weight: var(--font-weight-bold);
}

.home-page__popular-list-name {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: block;

  /* .heading-3 */
  font-size: var(--font-size-32);
  line-height: var(--line-height-2);
  font-weight: var(--font-weight-bold);
}

.home-page__popular-list-button {
  grid-column: -2 / -1;
  grid-row: 2 / 3;
  align-self: center;
}

.home-page__popular-list-link:not(:hover):not(:active):not(:focus):not(.home-page__popular-list-link--active) .home-page__popular-list-button {
  background-color: transparent;
  color: transparent;
}


.home-page__popular-figure {
}

.home-page__popular-figure-link {
  display: block;
  padding-bottom: calc(560 / 760 * 100%);
  position: relative;
}

.home-page__popular-list-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.home-page__popular-image-list,
.home-page__popular-image-list-item {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.home-page__popular-image-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.home-page__popular-image-list-item {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.home-page__popular-image-list-item:nth-of-type(1) {
  transform: translate(0%, 0%) scale(1.0);
  z-index: 3;
}
.home-page__popular-image-list-item:nth-of-type(2) {
  transform: translate(calc(10% + calc(75 * var(--font-size-basis))), 0%) scale(0.8);
  z-index: 2;
}
.home-page__popular-image-list-item:nth-of-type(3) {
  transform: translate(calc(20% + calc(120 * var(--font-size-basis))), 0%) scale(0.6);
  z-index: 1;
}




.home-page__popular-nav-list,
.home-page__popular-nav-list-item {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.home-page__popular-nav-list {
  display: flex;
  flex-direction: row-reverse;
  width: max-content;
  margin-left: calc(-16 * var(--font-size-basis));
}

.home-page__popular-nav-list-item:not(:last-child) {
  margin-left: calc(24 * var(--font-size-basis));
}




.home-page__contributors {
  margin-top: 0;
  margin-bottom: 0;
  display: grid;
  grid-template-columns:
    90fr
    611fr
    114fr
    416fr
    114fr
    ;
  grid-column-gap: calc(0 * var(--font-size-basis));
  grid-row-gap: calc(72 * var(--font-size-basis));

  padding-top: calc(164 * var(--font-size-basis));
}


.home-page__contributors-header {
  margin: 0;
  grid-column: 2 / 3;
}
.home-page__contributors-header > :first-child {
  margin-top: 0;
}
.home-page__contributors-body {
  margin: 0;
  grid-column: -3 / -2;
}
.home-page__contributors-body-paragraph {
  /* .body-1 */
  font-size: var(--font-size-18);
  line-height: var(--line-height-1);
  /* font-weight: var(--font-weight-bold); */

  line-height: calc(2 * var(--font-size-16));
}
.home-page__contributors-body-button {
  margin-top: calc(36 * var(--font-size-basis));
}
.home-page__contributors-body > :first-child {
  margin-top: 0;
}
.home-page__button--dark-mode {
  background-color: transparent;
  color: var(--color-bay-blue);
}
.home-page__button--dark-mode:hover,
.home-page__button--dark-mode:active,
.home-page__button--dark-mode:focus {
  background-color: var(--color-white);
  color: var(--color-benthos-blue);
}


.home-page__contributors-figure {
  margin: 0;
  grid-column: 2 / -2;
  padding-bottom: calc(1 / 2 * 100%);
  position: relative;
  overflow: hidden;
}

.home-page__contributors-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-page__contributors-image-dot {
  background-color: var(--color-photic-green);
  display: block;
  width: calc(8 * var(--font-size-basis));
  height: calc(8 * var(--font-size-basis));
  border-radius: 50%;
  position: absolute;
  top: calc(var(--y, 0) * 0.1%);
  left: calc(var(--x, 0) * 0.05%);
  transform: translate(-50%, -50%);
}


.home-page__data-organizations {
  margin-top: calc(144 * var(--font-size-basis));
  margin-bottom: 0;
  display: grid;
  grid-template-columns:
    90fr
    1260fr
    90fr
    ;
}
.home-page__data-organizations > * {
  grid-column: 2 / -2;
}
.home-page__data-organizations-heading {
  margin-top: 0;
  margin-bottom: 0;
}
.home-page__data-organizations-list {
  margin-top: calc(77 * var(--font-size-basis));
}
.home-page__data-organizations-image {
  width: 100%;
  height: auto;
}


.home-page__quote {
  margin-top: calc(230 * var(--font-size-basis));
  margin-bottom: 0;

  display: grid;
  grid-template-columns:
    720fr
    153fr
    467fr
    100fr
    ;
  grid-template-rows: 1fr;
  /* padding-bottom: calc(164 * var(--font-size-basis)); */
}
.home-page__quote > * {
  grid-row-start: 1;
}


.home-page__quote-block {
  margin: calc(164 * var(--font-size-basis)) 0 0 0;
  grid-column: -3 / -2;
}

.home-page__quote-text::before {
  content: '“';
  color: var(--color-ultramarine-blue);
  position: absolute;
  margin-left: -0.75em;
  margin-top: -1.25em;
}

.home-page__quote-background {
  opacity: 0.08;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-self: stretch;
  align-self: stretch;
  z-index: -1;
}

.home-page__quote-footer {
  margin-top: calc(48 * var(--font-size-basis));
}

.home-page__quote-byline {
  display: block;
}
.home-page__quote-byline::before {
  content: "— ";
}
.home-page__quote-button {
  margin-top: calc(32 * var(--font-size-basis));
}

.home-page__quote-figure {
  grid-column: 1 / 2;
  margin: 0;
}


.home-page__quote-figure {
  width: 100%;
  padding-bottom: calc(828 / 720 * 100%);
  position: relative;
  align-self: start;
}

.home-page__quote-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.home-page__subscribe {
  margin-top: calc(192 * var(--font-size-basis));
  margin-bottom: 0;

  background-color: var(--text-color);
  color: var(--background-color);
  background:
    linear-gradient(
      180deg,
      #111060 0%,
      #0B0A46 51.56%,
      #0B0B3D 100%,
      #040416 100%
    );


  margin-left: calc(120 * var(--font-size-basis));
  margin-right: calc(120 * var(--font-size-basis));
  display: grid;
  grid-template-columns:
    120fr
    480fr
    60fr
    420fr
    120fr
    ;
  grid-template-rows: calc(192 * var(--font-size-basis)) max-content calc(192 * var(--font-size-basis));
  grid-column-gap: calc(0 * var(--font-size-basis));
}

.home-page__subscribe-background {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  width: auto;
  height: 100%;
  object-fit: cover;
  justify-self: stretch;
  align-self: stretch;
}

.home-page__subscribe-description {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  z-index: 1;
}
.home-page__subscribe-description > :first-child {
  margin-top: 0;
}
.home-page__subscribe-description > :last-child {
  margin-bottom: 0;
}
.home-page__subscribe-form {
  grid-column: -3 / -2;
  grid-row: 2 / 3;
  z-index: 1;
}
.home-page__subscribe-form > :first-child {
  margin-top: 0;
}
.home-page__subscribe-form > :last-child {
  margin-bottom: 0;
}
.home-page__subscribe-paragraph {
  /* .body-1 */
  font-size: var(--font-size-18);
  line-height: var(--line-height-1);
  /* font-weight: var(--font-weight-bold); */

  line-height: calc(26 * var(--font-size-basis));
  color: var(--color-bay-blue);
}



.home-page__subscribe-form .field-list__item + .field-list__item {
  margin-top: calc(20 * var(--font-size-basis));
}

.home-page__subscribe-form-button {
  margin-top: calc(32 * var(--font-size-basis));
}
