---
layout: none
title: FathomNet
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}{% unless page.title contains "FathomNet" %} / FathomNet{% endunless %}</title>
    <link rel="stylesheet" href="/css/ui.css" />
    {% include noindex.html %}
  </head>
  <body class="standard-layout">
    {% include icons.svg %}

    <header class="header standard-layout__header">
      <h2 class="logotype">
        <a href="/pages/">FathomNet</a>
      </h2>
      <ul class="nav">
        <li>
          <a
            href="/pages/explore/"
            class="
              nav__link
            "
          >
            Explore
          </a>
        </li>
        <li>
          <a
            href="/contributors/"
            class="nav__link"
          >
            Contributors
          </a>
        </li>
        <li>
          <a
            href="/about-us/"
            class="nav__link"
            >
            About us
          </a>
        </li>
        <li>
          <a
            href="/"
            class="nav__link"
            >
            <svg aria-label="Search" class="icon icon--large" width="24" height="24">
              <use xlink:href="#icon-search"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="/sign-in/"
            class="button"
            >
            Sign in
          </a>
        </li>
      </ul>
    </header>

    <main>

    <section class="hero">
      <img
        alt="A blue-green ocean wave curling up as it reaches shore"
        src="/images/mbari/95365656_2474068226026772_5515976092030821430_n.jpg"
      />
      <h1>Explore our ocean</h1>
      <p>
        FathomNet is an open sourced database that will allow us to better
        understand our ocean and its inhabitants
      </p>

      <!-- <form class="search">
        <ol>
          <li>
            <label>
              What
              <input type="text" placeholder="Animal, mineral, substrait, etc" />
            </label>
          </li>
          <li>
            <label>
              Where
              <input type="text" placeholder="Longitude &amp; latitude, country, etc" />
            </label>
          </li>
          <li>
            <label>
              Taxonomy Register
              <select multiple>
                <option>All</option>
                <option>ARMS</option>
                <option>BeRMS</option>
                <option>ERMS</option>
                <option>IMIS</option>
              </select>
            </label>
          </li>
        </ol>
      </form>

      <p>Or explore by <a href="">label tree</a></p> -->

    </section>

    </main>

    <footer></footer>

  </body>
</html>

