<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}{% unless page.title contains "FathomNet" %} / FathomNet{% endunless %}</title>
    <link rel="stylesheet" href="/css/ui.css" />
    {% include noindex.html %}
  </head>
  <body class="standard-layout">
    {% include icons.svg %}

    <header class="header header--explore">
      <div class="header__title-group">
        <h2 class="logotype">
          <a href="/pages/">FathomNet</a>
        </h2>
        <h1 class="body-2">Explore</h1>
      </div>

      <div class="header__search-box">
        <form class="search-box">
          <ul class="search-box__list">
            <li class="search-box__item">
              <label class="search-box__label">
                <span class="search-box__label-text">What</span>
                <input type="text" class="search-box__field text-field" placeholder="Animal, mineral, substrate, etc" />
              </label>
            </li>
            <li class="search-box__item">
              <label class="search-box__label">
                <span class="search-box__label-text">Where</span>
                <input type="text" class="search-box__field text-field" placeholder="Longitude & latitude, basin, etc" />
              </label>
            </li>
            <li class="search-box__item">
              <label class="search-box__label">
                <span class="search-box__label-text">Concept tree</span>
                <details>
                  <summary class="search-box__dropdown-button dropdown-button">
                    WoRMS
                    <svg aria-label="Search" class="icon icon--small" width="24" height="24">
                      <use xlink:href="#icon-chevron-down"></use>
                    </svg>
                  </summary>
                  <div class="modal modal--data-list dropshadow--dark">
                    <ul class="data-list">
                      <li class="data-list__item">
                        <button type="button" class="data-list__button">
                          Ampeliscidae
                        </button>
                      </li>
                      <li class="data-list__item">
                        <button type="button" class="data-list__button">
                          Ampharetidae
                        </button>
                      </li>
                      <li class="data-list__item">
                        <button type="button" class="data-list__button">
                          Amphascandria
                        </button>
                      </li>
                      <li class="data-list__item">
                        <button type="button" class="data-list__button">
                          Ampheraster
                        </button>
                      </li>
                    </ul>
                  </div>
                </details>
              </label>
            </li>
          </ul>
          <p class="search-box__submit">
            <button type="submit" class="button search-box__button">
              <svg aria-label="Search" class="icon icon--small" width="24" height="24">
                <use xlink:href="#icon-search"></use>
              </svg>
              <!-- <svg aria-label="Search" class="icon icon--extra-small" width="14" height="14" viewBox="0 0 14 14">
                <path d="M6.33333 11.6667C9.27885 11.6667 11.6667 9.27885 11.6667 6.33333C11.6667 3.38781 9.27885 1 6.33333 1C3.38781 1 1 3.38781 1 6.33333C1 9.27885 3.38781 11.6667 6.33333 11.6667Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.0001 13.0001L10.1001 10.1001" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg> -->
            </button>
          </p>
        </form>
      </div>

      <ul class="nav header__nav">
        <li>
          <a
            href="/sign-in/"
            class="nav__link"
            >
            Sign in
          </a>
        </li>
      </ul>

    </header>

    {{ content }}

    <footer></footer>

  </body>
</html>
