
:root {

/* LIGHT */

/* Demersal Gray */
--color-demersal-gray: #6D6C90;

/* Pelagic Gray */
--color-pelagic-gray: #AEAEC2;

/* Salt Marsh Gray */
--color-salt-marsh-gray: #E8E8ED;

/* Sea Salt Gray */
--color-sea-salt-gray: #F7F7F9;

/* White */
--color-white: #FFFFFF;

/* Benthos Blue */
--color-benthos-blue: #001252;

/* Ultramarine Blue */
--color-ultramarine-blue: #557AFF;

/* Bay Blue */
--color-bay-blue: #88A2FF;

/* Lagoon Blue */
--color-lagoon-blue: #BBCAFF;

/* Littoral Blue */
--color-littoral-blue: #F0F3FF;

/* Photic Green */
--color-photic-green: #26BF9B;

/* Seafoam Green */
--color-seafoam-green: #E4FFF8;

/* Snapper Red */
--color-snapper-red: #FF6464;

/* Coral Red */
--color-coral-red: #FEE9E9;

/* Lobster Red */
--color-lobster-red: #F33F3F;

/* DARK */

/* Hado Gray */
--color-hado-gray: #151928;

/* Abyss Gray */
--color-abyss-gray: #212841;

/* Aphotic Blue */
--color-aphotic-blue: #5264A3;

}
